useDynLib(PAFit)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "rgb")
importFrom("RColorBrewer","brewer.pal")
importFrom("graphics", "abline", "arrows", "lines", "points", "text")
importFrom("stats", "lm", "rgamma", "rpois", "uniroot","rlnorm","confint","df.residual")

importFrom("VGAM", "rpareto")
importFrom("grDevices", "col2rgb")
importFrom("graphics", "polygon")
importFrom("graphics", "plot")
importFrom("stats", "runif")


S3method(print, PAFit_result)
S3method(print, PA_result)
S3method(print, PAFit_data)
S3method(print, CV_Data)
S3method(print, CV_Result)

S3method(plot, PAFit_result)
S3method(plot, PA_result)

S3method(summary, PA_result)
S3method(summary, PAFit_result)
S3method(summary, PAFit_data)
S3method(summary, CV_Data)
S3method(summary, CV_Result)
